* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    height: 100vh;
    width: 100vw;
    background-color: #6D776D;
}

#side-form-container {
    background-color: ghostwhite;
    box-shadow: -10px 0 59px -16px rgba(0,0,0,0.3);
    height: 100vh;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 10;
}

#side-form-container label,
#side-form-container span {
    margin-top: 6px;
}

#side-form-container input,
#side-form-container textarea {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
}

.event-resume {
    position: absolute;
    background: rgba(255,255,255,0.8);
    width: 200px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}

.update-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 10;
}
